form div.nodeconnect-edit input,
form div.nodeconnect-add input,
form div.nodeconnect-search.single-value input {
  background: url(add.png) no-repeat;
  text-indent: -1000px;
  width: 16px;
  height : 16px;
  border:0px;
  -moz-box-shadow: none;
  margin: 0;
  padding: 0;
}
form div.nodeconnect-edit input {
  background: url(pencil.png) no-repeat;
}
form div.nodeconnect-search.single-value input {
  background: url(search.png) no-repeat;
}
.nodeconnect-edit,
.nodeconnect-add,
.nodeconnect-search.single-value {
  float: right;
  padding: 3px;
  width: 16px;
  height : 16px;
}
.nodeconnect-edit input[disabled] {
  background: none;
}
